/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1-Mar-2016, 9:56:39 PM
    Author     : Eric
*/
/*2.3.2.10 define document properties */
#header1 {
    color:blue;
    text-align: center;
    font-family: Verdana, sans-serif;
    font-weight: bold;
    font-size: 400%;
}

body {
    background-color: lightblue;
    background-image: url(../images/WorldCarboniferous.jpg);
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: left top;

    
   
} 

#more_information, #back {
    text-align: center;
    font-family: Verdana, sans-serif;
    font-weight: bold;
    text-decoration:initial;
    
}


#carboniferous_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* 2.3.2.15 transform rotate */
    transform: rotate(0.25deg);
    /* 2.3.2.16 reduce opacity */
    opacity: 0.5;
    border-style:solid;
}

#p1, #p2, #p3 {
    font-family: Verdana, sans-serif;
    font-weight: bold;
    line-height: 30px;
    text-indent: 10px;
    font-weight: bold;
    font-style: oblique;
}
/*2.3.2.7 use of hyperlink pseudo-classes*/
a:link    { color: red }    /* unvisited links */
a:visited { color: blue }   /* visited links   */
a:hover   { color: yellow } /* user hovers     */
a:active  { color: lime }   /* active links    */
